/*

Breezed Template

*/

@import url("https://fonts.googleapis.com/css?family=Poppins:100,200,300,400,500,600,700,800,900");

html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, div
pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, font, img, ins, kbd, q,
s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li,
figure, header, nav, section, article, aside, footer, figcaption {

}

*
{
    padding: 0;
    margin: 0;
}

ul, li {
  padding: 0;
  margin: 0;
  list-style: none;
}

header, nav, section, article, aside, footer, hgroup {
  display: block;
}

html, body {
  font-family: 'Raleway', sans-serif;
  font-weight: 400;
  background-color: #000;
  font-size: 16px;
  -ms-text-size-adjust: 100%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}


/* ==== Main CSS === */
.img-fill{
  width: 100%;
  display: block;
  overflow: hidden;
  position: relative;
  text-align: center
}

.img-fill img {
  min-height: 100%;
  min-width: 100%;
  position: relative;
  display: inline-block;
  max-width: none;
}


.Modern-Slider .item .img-fill{
  height:100vh;
  background: linear-gradient(145deg, rgb(109, 2, 202) 10%, rgb(53, 35, 214) 100%);
}

.Modern-Slider .text-content {
  width: 100%;
  position: absolute;
  top: 50%;
  left: 52%;
  transform: translate(-50%, -50%);
}

.Modern-Slider .item h5 {
  margin-bottom: 50px;
  font-size: 48px;
  font-weight: 200;
  letter-spacing: 2.5px;
  color:#FFF;
  overflow:hidden;
  animation:fadeOutLeft 1s both;
}

footer {
    float: none;
    position: relative;
    text-align: center;
  padding: 20px 20px;
  background: rgb(0,0,0);
  background: linear-gradient(90deg, rgb(53, 35, 214) 35%, rgb(109, 2, 202) 100%);
}

footer .right-text-content {
  float: none;
  position: relative;
  text-align: center;
}

footer .right-text-content ul li a {
  width: 32px;
  height: 32px;
  display: inline-block;
  text-align: center;
  line-height: 32px;
  font-size: 14px;
  background-color: #fff;
  border-radius: 50%;
  color: #3C2ECB;
}

footer .right-text-content ul li a:hover {
  background-color: #3C2ECB;
  color: #fff;
}








